@charset "utf-8";@import url('fonts.css');*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;}
.top5{margin-top:5px;}
.top10{margin-top:10px;}
.top15{margin-top:15px;}
.top20{margin-top:20px;}
.top25{margin-top:25px !important;;}
.top30{margin-top:30px !important;;}
.top35{margin-top:35px !important;;}
.top40{margin-top:40px !important;}
.top45{margin-top:45px;}
.top50{margin-top:50px;}
.top55{margin-top:55px;}
.top60{margin-top:60px;}
.top65{margin-top:65px;}
.top70{margin-top:70px;}
.top75{margin-top:75px;}
.top80{margin-top:80px;}
.top85{margin-top:85px;}
.top90{margin-top:90px;}
.top100{margin-top:100px;}
.top105{margin-top:105px;}
.top115{margin-top:115px;}
.top120{margin-top:120px;}
.top150{margin-top:150px;}
.top220{margin-top:220px;}
.top195{margin-top:195px;}
.top210{margin-top:210px;}
.top350{margin-top:350px;}
.top395{margin-top:395px;}
.bottom5{margin-bottom:5px;}
.bottom10{margin-bottom:10px;}
.bottom15{margin-bottom:15px;}
.bottom20{margin-bottom:20px;}
.bottom25{margin-bottom:25px;}
.bottom30{margin-bottom:30px;}
.bottom35{margin-bottom:35px;}
.bottom40{margin-bottom:40px;}
.bottom45{margin-bottom:45px;}
.bottom50{margin-bottom:50px;}
.bottom55{margin-bottom:55px;}
.bottom60{margin-bottom:60px;}
.bottom60{margin-bottom:60px;}
.bottom65{margin-bottom:65px;}
.bottom70{margin-bottom:70px;}
.bottom75{margin-bottom:75px;}
.bottom80{margin-bottom:80px;}
.bottom90{margin-bottom:90px;}
.bottom100{margin-bottom:100px;}
.bottom120{margin-bottom:120px;}
.bottom135{margin-bottom:135px;}
.bottom180{margin-bottom:180px;}
.bottom200{margin-bottom:200px;}
.bottom280{margin-bottom:280px;}
.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left81{margin-left:81px;}
.left130{margin-left:130px;}
.left270{margin-left:270px;}
.right5{margin-right:5px;}
.right10{margin-right:10px;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right22{margin-right:22px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right90{margin-right:90px;}
.right100{margin-right:100px;}
.right130{margin-right:130px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt300{padding-top:300px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb200{padding-bottom:200px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}
.container{width:1170px !important;}
.input100{width:100% !important;}
.lato-black{font-family:"Lato Black";}
body{background:#f0f0f0;font-family:'Lato', sans-serif;}
h1{color:#00aff2;font-size:25px;}
h1 span{font-size:20px;color:#00aff2;}
h2{color:#00aff2;font-weight:700;font-size:35px;}
h3{font-size:32px;color:#00aff2;}
h3 span{font-size:43px;color:#00aff2;font-weight:700;}
h4{font-size:35px;color:#fff;font-weight:700;}
h5{font-weight:300;font-size:19px;color:#fff;}
h6{font-weight:100;color:#000;font-size:35px;text-decoration:underline;}
p{font-weight:300;font-size:17px;color:#000;text-align:justify;}
a:hover{text-decoration:none !important;}
.btn-meu-orcamento{cursor:pointer;}
.topo-meu-orcamento{background:#fff;width:470px;padding:0px 10px;}
.topo-telefone{text-align:center;font-size:25px;background:#fff;width:252px;padding:0px 10px;}
.btn-azul, .btn-azul:hover{background:none;border:1px solid #00aff2;color:#00aff2;}
.btn-azul-pequeno, .btn-azul-pequeno:hover{background:none;border:1px solid #00aff2;color:#00aff2;font-size:10px;}
.btn-azul:hover, .btn-azul-pequeno:hover{background:#00aff2;color:#fff;}
.navbar-default{background:none;border:none;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{background:none;height:100px;}
.navbar-default .navbar-nav>li>a{color:#747474;font-size:14px;}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{height:100px;color:#747474;}
.navbar-default .navbar-nav>.active>a span, .navbar-default .navbar-nav>.active>a:hover span, .navbar-default .navbar-nav>.active>a:focus span{border:none;}
.navbar-default .navbar-nav>li>a{background:none;color:#747474;height:100px;padding:0px 18px;text-align:center;}
.navbar-nav > li{border-top:1px solid transparent;padding-top:3px;}
.navbar-nav > li:hover, .navbar-nav > li.active{border-top:1px solid #00aff2;border-bottom:1px solid #00aff2;height:50px;}
.btn-transparente, .btn-transparente:hover{background:none;font-size:16px;font-weight:400;border:2px solid #fff;border-radius:4px;color:#fff;}
.navbar-wrapper{position:absolute;top:0;right:0;left:0;z-index:20;}
.navbar-wrapper > .container{padding-right:0;padding-left:0;}
.navbar-wrapper .navbar{padding-right:15px;padding-left:15px;}
.navbar-wrapper .navbar .container{width:auto;}
.padding0{padding:0px !important;}
.slider-index .carousel{height:992px;}
.slider-index .carousel-caption{z-index:10;bottom:365px;}
.slider-index .carousel .item{height:992px;background-color:#777;}
.slider-index .carousel-inner > .item > img{position:absolute;top:0;left:0;width:100%;height:992px;}
.slider-index h1{text-shadow:1px -1px 5px rgba(0, 0, 0, 0.76);font-family:'Lato', sans-serif;font-weight:700;color:#fff;font-size:55px;}
.slider-index p{font-family:'Lato', sans-serif;font-weight:300;color:#fff;font-size:20px;display:block;background:url(../imgs/bg-title-subtitulo.png) center no-repeat;text-align:center;height:70px;width:708px;line-height:70px;padding:0px 0px;margin-bottom:20px;margin-top:-15px;}
.slider-index .carousel-indicators{bottom:330px;}
.slider-index .carousel-indicators li{width:25px;height:25px;color:#fff;border:none;background:#fff;}
.slider-index .carousel-indicators .active{background:#80899a;}
.slider-index, .carousel li{margin-right:0px !important;}
.rodape-cinza{background:#282828;}
.rodape-preto{background:#000;}
.menu-rodape li a{color:#fff;font-size:19px;font-weight:300;margin-right:20px;}
.menu-rodape{list-style:none;padding:0px;}
.bg-menu-rodape{border-bottom:1px solid #fff;padding-bottom:15px;}
.menu-rodape li{float:left;}
.menu-rodape li a{color:#fff;font-size:19px;font-weight:300;margin-right:20px;}
.rodape-cinza p{font-weight:300;color:#fff;font-weight:300;font-size:19px;}
.rodape-cinza p i{margin-right:10px;}
.btn-azul-claro{background:#00aff2;border-radius:0px;color:#fff;}
.btn-azul-claro:hover{background:#0e89bb;color:#fff;}
.btn-azul-claro2{background:#00aff2;color:#fff;}
.menu-topo{position:absolute;top:0px;}
.botoes-opcoes-topo{z-index:9999;position:absolute;}
.form-busca-topo .navbar-form{width:280px;}
.navbar-default{position:absolute;width:1170px;position:absolute;margin-left:-585px;left:50%;top:0px;}
.navbar{margin-bottom:0px;}
.navbar-default{background:transparent !important;border:none !important;}
.bg-empresa{background:#f0f0f0 url(../imgs/bg-empresa.jpg) top center no-repeat;}
.bg-produtos{background:#f0f0f0 url(../imgs/bg-produtos.jpg) top center no-repeat;}
.descer{margin-top:300px;}
.empresa-comentario{margin-top:-143px;background:#e3e3e3 url(../imgs/bg-empresa-descricao.png) top center no-repeat;}
.posicao-caroucel.left, .posicao-caroucel.right{background:none;}
.posicao-caroucel{top:inherit;bottom:15px;height:40px;}
.posicao-caroucel.left{left:277px;}
.posicao-caroucel.right{right:62px;}
.effect2{position:relative;}
.effect2:before, .effect2:after{z-index:-1;position:absolute;content:"";bottom:15px;left:10px;width:50%;top:80%;max-width:300px;background:#777;box-shadow:0 15px 10px #777;transform:rotate(-3deg);}
.effect2:after{transform:rotate(3deg);right:10px;left:auto;}
.empresa-comentario h2{padding-bottom:10px;background:url(../imgs/sombra-depoimento-empresa.png) bottom center no-repeat;}
.portifolio-empresa h2{color:#00aff2;font-size:43px;font-weight:800;}
.portfolio-caroucel.left, .portfolio-caroucel.right{background:none;}
.portfolio-caroucel span,.posicao-caroucel span{text-shadow:2px 5px 2px rgba(0, 0, 0, 0.75);}
.portfolio-caroucel{opacity:5;top:160px;}
.portfolio-caroucel.left{left:-98px;}
.portfolio-caroucel.right{right:-98px;}
.bg-trabalhe{background:#f0f0f0 url(../imgs/bg-trabalhe-conosco.jpg) top center no-repeat;}
.bg-fale-conosco{background:#f0f0f0 url(../imgs/bg-fale-conosco.jpg) top center no-repeat;}
.bg-orcamento{background:#f0f0f0 url(../imgs/bg-orcamentos.jpg) top center no-repeat;}
.bg-servicos{background:#f0f0f0 url(../imgs/bg-servicos.jpg) top center no-repeat;}
.formulario{background:#e6e6e6;}
.formulario h2{font-weight:400;font-size:30px;color:#000;}
.formulario h1{font-weight:300;font-size:30px;color:#000;}
.fundo-form1{background:#fff;}
.FormCurriculo label{font-weight:100;font-size:20px;color:#00aff2;}
.btn-azul-formulario, .btn-azul-formulario:hover{background:#00aff2;border-radius:0px;color:#fff;font-size:20px;}
.categorias-index{margin-top:-115px;position:relative;z-index:8888;}
.linha-produtos{background:url(../imgs/titulo-conheca-nossa-linha-produto.png) top left no-repeat;padding-top:60px;}
.produtos-dentro .linha-produtos{background:none;}
.categorias-produtos{background:#cfcfcf url(../imgs/bg-cat-produtos.jpg) bottom no-repeat;padding-bottom:16px;height:91px;}
.bg-cinza{background:#cfcfcf;}
.lista-categorias{list-style:none;margin:0px;padding:0px;}
.lista-categorias li img{height:29px;}
.lista-categorias li{float:left;height:80px;padding:15px 20px 0px 20px;text-align:center;border-right:1px solid #b4b3b3;}
.lista-categorias li a{display:block;height:60px;font-size:15px;color:#676767;}
.sombra-categorias .touchcarousel .arrow-holder.left{background:url(../imgs/seta-direita.png) no-repeat;}
.sombra-categorias .touchcarousel .arrow-holder.right{background:url(../imgs/seta-esquerda.png) no-repeat;}
.lista-categorias li.destaque a{color:#fff;}
.lista-categorias li:hover, .lista-categorias li.destaque{background:#00aff2;color:#fff;}
.lista-categorias .dropdown-menu{background:#cfcfcf;padding:0px;min-width:10px;}
.lista-categorias .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{background:none;color:#fff;}
.lista-produto{margin-bottom:20px;}
.lista-produto p{height:50px;overflow:hidden;}
.bg-index-conheca-aquatendas{background:url(../imgs/bg-conheca-aquatendas.jpg) top center no-repeat;height:636px;}
.bg-index-conheca-aquatendas i{font-size:85px;color:#00aff2;font-weight:700;}
.bg-index-conheca-aquatendas p{color:#fff;font-size:20px;font-weight:300;}
.bg-index-conheca-aquatendas p i{font-size:20px;color:#fff;margin-right:15px;}
.linha-dicas{border-bottom:1px solid #00aff2;padding-left:0px;padding-bottom:13px;}
.linha-dicas h3 span{border-bottom:11px solid #00aff2;}
.margin-interna{margin-top:250px;margin-bottom:150px;}
.slider-prod-tumb li img{height:100%;}
.slider-prod li img{height:100%;}
.flexslider{margin:0 0 10px !important;}
.desc-prod h2{font-size:14px;color:#fff;display:table-cell;padding:8px;background:#00aff2;margin-right:10px;}
.desc-prod h3{font-size:14px;color:#225d7f;padding-top:7px;}
.desc-prod .telefone{height:50px;line-height:50px;font-size:17px;font-weight:400;padding:0px 10px;}
.desc-prod h4{font-size:30px;color:#000000;}
.lista-avaliacao{background:#d8d8d8;overflow:hidden;padding:10px;}
.bg-dicas{background:#f0f0f0 url(../imgs/bg-dicas.jpg) top center no-repeat;}
.categorias-produtos h1{color:#000;}
.btn-busca,.btn-busca:hover{color:#fff;background-color:#00aff2;}
.btn-dicas, .btn-dicas:hover{font-size:17px;background:#00aff2;color:#fff;font-weight:300;}
.comentario-dicas{background:#d8d8d8;}
.barra-azul{border-left:4px solid #00aff2;}
.lista-servico p{height:173px;overflow:hidden;}
.modal-body{overflow:hidden;}
.input-lista-prod-orcamentos{width:40px;height:40px;line-height:40px;text-align:center;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.topo-meu-orcamento{background:#fff;width:670px;padding:0px 10px;}
.lista-itens-carrinho{margin:10px 0px;overflow:hidden;border-bottom:2px solid #e5e5e5;margin-bottom:20px;padding-bottom:10px;}
.lista-itens-carrinho h4{font-size:15px;color:#000;}
.topo-meu-orcamento h6{font-size:17px;color:#000;}
.categorias-produtos i{font-size:60px;}
.touchcarousel{height:100% !important;}
.lista-revestimentos .flex-viewport{overflow:visible !important;}
.lista-revestimentos .touchcarousel{height:60px;margin-top:12px;}
.lista-revestimentos .touchcarousel .touchcarousel-item{margin:0px 10px 0px 0px;padding:0px;}
.lista-revestimentos .arrow-icon.left{margin:-20px 0px 0px -34px;background:url(../imgs/seta-esquerda1.png) 0px 0px no-repeat;background-size:100% 100%;width:28px;height:42px;}
.lista-revestimentos .arrow-icon.right{margin:-19px 0px 0px 50px;background:url(../imgs/seta-direita1.png) 0px 0px no-repeat;background-size:100% 100%;width:28px;height:42px;}
.lista_imagens_servico_piscina{height:395px;overflow:hidden;}
.lista-revestimentos .flexslider{border:none;}
.lista-revestimentos .flexslider .slides > li{margin-left:3px;}