@charset "utf-8";@import url('./fonts.css');*{margin:0;padding:0;text-decoration:none;}
*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;}
.top5{margin-top:5px;}
.top10{margin-top:10px;}
.top15{margin-top:15px;}
.top20{margin-top:20px;}
.top25{margin-top:25px;}
.top30{margin-top:30px;}
.top35{margin-top:35px;}
.top40{margin-top:40px;}
.top45{margin-top:45px;}
.top50{margin-top:50px;}
.top55{margin-top:55px;}
.top60{margin-top:60px;}
.top65{margin-top:65px;}
.top70{margin-top:70px;}
.top75{margin-top:75px;}
.top80{margin-top:80px;}
.top85{margin-top:85px;}
.top90{margin-top:90px;}
.top105{margin-top:105px;}
.top170{margin-top:170px;}
.top195{margin-top:195px;}
.bottom5{margin-bottom:5px;}
.bottom10{margin-bottom:10px;}
.bottom15{margin-bottom:15px;}
.bottom20{margin-bottom:20px;}
.bottom25{margin-bottom:25px;}
.bottom30{margin-bottom:30px;}
.bottom35{margin-bottom:35px;}
.bottom40{margin-bottom:40px;}
.bottom45{margin-bottom:45px;}
.bottom50{margin-bottom:50px;}
.bottom55{margin-bottom:55px;}
.bottom60{margin-bottom:60px;}
.bottom60{margin-bottom:60px;}
.bottom65{margin-bottom:65px;}
.bottom70{margin-bottom:70px;}
.bottom75{margin-bottom:75px;}
.bottom80{margin-bottom:80px;}
.bottom100{margin-bottom:100px;}
.bottom120{margin-bottom:120px;}
.bottom135{margin-bottom:135px;}
.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left130{margin-left:130px;}
.right5{margin-right:5px;}
.right10{margin-right:10px;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right130{margin-right:130px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt170{padding-top:170px;}
.pt300{padding-top:300px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb70{padding-bottom:70px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}
.container{max-width:480px;}
.input100{width:100% !important;}
body{font-weight:400;background:#f0f0f0;font-family:'Lato', sans-serif;}
h1{color:#00aff2;font-size:15px;}
h1 span{color:#225d7f;font-size:20px;}
h2{color:#00aff2;font-size:10px;}
h3{color:#00aff2;font-size:25px;}
h4{color:#00aff2;font-size:20px;}
h5{color:#00aff2;font-size:21px;}
h5 span{font-size:30px;font-weight:700;}
h6{color:#fff;font-size:21px;}
h6 span{font-size:30px;font-weight:700;}
.seta-indicacao{font-size:60px !important;color:#fff;}
.seta-azul{font-size:60px !important;color:#00aff2;}
p{color:#000;font-size:13px;text-align:justify;}
p span{font-size:17px;font-weight:700;}
a:hover{text-decoration:none;}
.btn-azul,.btn-azul:hover{background:#00aff2;font-size:17px;color:#fff;margin-left:15px;}
.media-heading{margin-top:0px;margin-bottom:0px;}
.btn-azul-claro,.btn-azul-claro:hover{padding:14px 11px;background:#00aff2;border-radius:0px;color:#fff;}
.form-busca-topo{width:310px;}
.btn-azul-claro2{background:#00aff2;color:#fff;}
.menu-topo{float:left !important;}
.bg-fundo-preto{position:relative;background:#000;}
.bg-fundo-preto p{font-size:20px;color:#fff;font-weight:700;padding:10px 0px;text-align:center;}
.topo{position:relative;z-index:50;}
.slider-index{margin-top:-100px;}
.carousel-control.left, .carousel-control.right{background:none;}
.topo-meu-orcamento{width:420px;}
.topo-meu-orcamento h6{margin-top:6px;font-weight:700;color:#225d7f;font-size:14px;}
.topo-meu-orcamento{min-width:196px;padding:5px 9px;}
.lista-itens-carrinho{margin:10px 0px;overflow:hidden;border-bottom:2px solid #e5e5e5;margin-bottom:10px;padding-bottom:5px;}
.btn-transparente, .btn-transparente:hover{background:none;font-size:14px;font-weight:400;border:2px solid #fff;border-radius:4px;color:#fff;}
.btn-azul-pequeno, .btn-azul-pequeno:hover{background:none;border:1px solid #00aff2;color:#00aff2;font-size:10px;padding:5px 3px;}
.legenda-interna{margin-top:120px;margin-bottom:200px;}
.slider-index h1, .legenda-interna h1{text-shadow:1px -1px 5px rgba(0, 0, 0, 0.76);font-family:'Lato', sans-serif;font-weight:700;color:#fff;font-size:34px;}
.slider-index p, .legenda-interna p{font-family:'Lato', sans-serif;font-weight:300;color:#fff;font-size:15px;display:block;background:url(../imgs/bg-slider-index.png) center no-repeat;text-align:center;height:45px;width:450px;line-height:45px;padding:0px 0px;margin-bottom:20px;margin-top:-15px;}
.slider-index .carousel-caption{left:3%;right:0%;bottom:200px;}
.slider-index .carousel-indicators{bottom:190px;}
.slider-index .carousel-indicators li{width:18px;height:18px;border:none;background:#fff;}
.slider-index .carousel-indicators .active{background:#fff;opacity:0.50;-moz-opacity:0.50;filter:alpha(opacity=50);}
.sombra-categorias{background:url(../imgs/bg-sombra-categorias.jpg) bottom no-repeat;padding-bottom:11px;}
.lista-categorias{height:80px;background:#cfcfcf;}
.lista-categorias li.destaque{background:#00aff2;}
.lista-categorias li.destaque a{color:#fff;}
.lista-categorias li a{color:#000;font-size:15px;}
.margin-cat-index{margin-top:-100px;}
#carousel-gallery .touchcarousel-container li.touchcarousel-item{float:left;position:relative;width:150px;height:100%;margin:0px;padding:0px;padding-top:12px;text-align:center;}
.touchcarousel{height:80px !important;}
.touchcarousel .tc-paging-container{margin-top:10px !important;}
.tc-paging-container .tc-paging-item{width:20px;height:20px;background:#a8dcf1;border-radius:50%;margin-right:5px;}
.touchcarousel .tc-paging-item.current{background:#00aff2;}
.lista-produto{border-bottom:1px solid #50c5f1;margin-bottom:30px;padding-bottom:10px;}
.lista-produto h1{margin:5px 0px;}
.lista-produto p{height:58px;overflow:hidden;}
.bg-conheca{background:url(../imgs/bg-conhe-aquatendas.jpg) top center no-repeat;height:488px;}
.bg-conheca p{color:#fff;max-height:290px;overflow:hidden;}
.linha-dicas{border-bottom:1px solid #00aff2;padding-left:0px;padding-bottom:3px;}
.linha-dicas h3 span{border-bottom:11px solid #00aff2;}
.bg-empresa{background:#f0f0f0 url(../imgs/bg-empresa.jpg) top center no-repeat;}
.bg-produtos{background:#f0f0f0 url(../imgs/bg-produtos.jpg) top center no-repeat;}
.bg-trabalhe-conosco{background:#f0f0f0 url(../imgs/bg-trabalhe-conosco.jpg) top center no-repeat;}
.bg-servicos{background:#f0f0f0 url(../imgs/bg-servicos.jpg) top center no-repeat;}
.bg-dicas{background:#f0f0f0 url(../imgs/bg-dicas.jpg) top center no-repeat;}
.bg-fale-conosco{background:#f0f0f0 url(../imgs/bg-fale-conosco.jpg) top center no-repeat;}
.bg-orcamentos{background:#f0f0f0 url(../imgs/bg-orcamento.jpg) top center no-repeat;}
.linha-sombra{background:url(../imgs/linha-sombra.png) bottom no-repeat;padding-bottom:12px;}
.depoimentos .carousel-control.left, .carousel-control.right{}
.depoimentos .carousel-control{top:inherit;bottom:0px;}
.depoimentos .carousel-control.left{right:32px;left:inherit;color:#48c3f1;}
.depoimentos .carousel-control.right{color:#48c3f1;}
.desc-prod h2{font-size:14px;color:#fff;display:table-cell;padding:8px;background:#00aff2;margin-right:10px;}
.desc-prod h3{font-size:14px;color:#225d7f;padding-top:7px;}
.lista-avaliacao{background:#d8d8d8;overflow:hidden;padding:10px;}
.lista-servico p{height:94px;overflow:hidden;}
.lista-servico .btn-azul-claro{padding:5px;}
.categorias-produtos{background:#cfcfcf url(../../imgs/bg-cat-produtos.jpg) bottom no-repeat;background-size:100%;padding-bottom:16px;height:91px;}
.telefone-topo1 h4{font-size:15px;}
.btn-azul, .btn-azul:hover{font-weight:400;background:#225d7f;color:#fff;font-size:15px;font-family:'Lato', sans-serif;}
.lista_imagens_servico_piscina{height:254px;overflow:hidden;}
.input-lista-prod-orcamentos{width:40px;text-align:center;}
.sombra-categorias .touchcarousel .arrow-icon{width: 20px;}
.sombra-categorias .touchcarousel .arrow-holder.left{background:url(../imgs/seta-esquerda.png) no-repeat;background-position-y:30px;}
.sombra-categorias .touchcarousel .arrow-holder.right{background:url(../imgs/seta-direita.png) no-repeat;background-position-y:30px;}
.sombra-categorias .touchcarousel .arrow-holder.left{left: -16px;width: 20px;}
.sombra-categorias .touchcarousel .arrow-holder.right{right: -16px;}
.sub-menu-telefone .dropdown-menu{background:#225D7F;width:94%;margin-left:15px;}
.sub-menu-telefone .dropdown-menu>li>a{color:#fff !important;font-size:18px;padding-bottom:10px;}